{% if apt_ftp_proxy_url != None %}
Acquire::ftp::proxy "{{ apt_ftp_proxy_url }}";
{% endif %}
{% if apt_http_proxy_url != None %}
Acquire::http::proxy "{{ apt_http_proxy_url }}";
{% endif %}
{% if apt_https_proxy_url != None %}
Acquire::https::proxy "{{ apt_https_proxy_url }}";
{% endif %}
